.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
    padding-top: 2px;
    padding-left: 16px;
    font-weight: bolder;
    font-size: 16px;
    overflow: hidden;
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}

.layout {
    height: 100%;
}

#content {
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow: auto;
}

#content::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}