<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="黑白棋 - Reversi" />
    <meta http-equiv="refresh" content="0;url=http://1.15.246.22/">
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/icon.png" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <title>黑白棋 - Reversi</title>
</head>

<body>
    <noscript>You will be redirected.</noscript>
</body>

</html>